<div class="list-group mt-3">
    <div class="d-flex w-100 justify-content">
        <h5 class="mb-1">First Project: MyBlog</h5>
        <ul class="mb-1">
            <li>Simple & Basic MyBlog App using Angular</li>
            <li>using Modules for accessing all components</li>
            <li>using A lot of Components with Structure</li>
            <li>using Routes and define them in app routing module</li>
            <li>using Angular Directive router-outlet</li>
        </ul>
    </div>
    <br>
    <div class="d-flex w-100 justify-content">
        <h5 class="mb-1">Second Project: Calculator</h5>
        <ul class="mb-1">
            <li>Simple & Basic Calculator App using Angular</li>
            <li>using Event Binding to map user clicks to component class</li>
            <li>show number and operator in input view</li>
            <li>show result on result view</li>
            <li>clear last input</li>
            <li>clear all the inputs</li>
        </ul>
    </div>
</div>
