<div class="list-group mt-3">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">First Project: MyBlog</h5>
        <p class="mb-1">
            This is the First Angular Project.<br>
            which I use Modules and Components which make this Application<br>
            Very nice to see.<br>
            I use a Route to manage all routes in this SPA<br>
            (Single Page Application).
        </p>
    </div>
    <br>
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Second Project: Calculator</h5>
        <p class="mb-1">
            This is the First Angular Project.<br>
            which I use Modules and Components which make this Application<br>
            Very nice to see.<br>
            I use a Route to manage all routes in this SPA<br>
            (Single Page Application).
        </p>
    </div>
</div>
